:root{
    --offcanvas-width:270px;
    --topnavbarheight:56px;
}

.sidebar-nav{
width:var(--offcanvas-width);
}

@media (min-width:992px){
   body{
       overflow: auto !important;
   }

   main{
 margin-left: var(--offcanvas-width);
   }
    .offcanvas-backdrop::before {
        display: none;
    }
    .sidebar-nav{
        transform: none ;
        visibility: visible !important;
        top:var(--topnavbarheight);
        height: calc(100%-var(--topnavbarheight));
    }

    .sidebar-link{
        display: flex;
        align-items: center;
    }
    .sidebar-link .chevrondown-link{
        display: inline-flex;
        transition: all ease 0.25s;
    }

    .sidebar-link[aria-expanded="true"] .chevrondown-link{
        transform: rotate(180deg);
    }

}

